Source: furios-lomiri-app-support
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/furios-lomiri-app-support
Vcs-Git: https://github.com/furilabs/furios-lomiri-app-support.git

Package: furios-lomiri-app-support
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
 qml-module-buteo-syncfw,
 qml-module-gsettings1.0,
 qml-module-hfd,
 qml-module-io-thp-pyotherside,
 qml-module-lomiri-action,
 qml-module-lomiri-addressbook,
 qml-module-lomiri-components,
 qml-module-lomiri-components-extras,
 qml-module-lomiri-components-labs,
 qml-module-lomiri-connectivity,
 qml-module-lomiri-contacts,
 qml-module-lomiri-content,
 qml-module-lomiri-downloadmanager,
 qml-module-lomiri-history,
 qml-module-lomiri-layouts,
 qml-module-lomiri-metrics,
 qml-module-lomiri-notifications,
 qml-module-lomiri-onlineaccounts,
 qml-module-lomiri-onlineaccounts-client,
 qml-module-lomiri-performancemetrics,
 qml-module-lomiri-pushnotifications,
 qml-module-lomiri-settings-components,
 qml-module-lomiri-settings-fingerprint,
 qml-module-lomiri-settings-menus,
 qml-module-lomiri-settings-vpn,
 qml-module-lomiri-syncmonitor,
 qml-module-lomiri-telephony-phonenumber,
 qml-module-lomiri-telephony,
 qml-module-lomiri-thumbnailer,
 qml-module-mediascanner,
 qml-module-morph-web,
 qml-module-ofono,
 qml-module-org-kde-kirigami2,
 qml-module-org-kde-kquickcontrolsaddons,
 qml-module-qmenumodel1,
 qml-module-qt-labs-folderlistmodel,
 qml-module-qt-labs-platform,
 qml-module-qt-labs-qmlmodels,
 qml-module-qt-labs-settings,
 qml-module-qt-websockets,
 qml-module-qtbluetooth,
 qml-module-qtcharts,
 qml-module-qtcontacts,
 qml-module-qtfeedback,
 qml-module-qtgraphicaleffects,
 qml-module-qtlocation,
 qml-module-qtmir,
 qml-module-qtmultimedia,
 qml-module-qtnfc,
 qml-module-qtorganizer,
 qml-module-qtpositioning,
 qml-module-qtqml-models2,
 qml-module-qtqml-statemachine,
 qml-module-qtquick-controls2,
 qml-module-qtquick-controls2-suru,
 qml-module-qtquick-dialogs,
 qml-module-qtquick-layouts,
 qml-module-qtquick-localstorage,
 qml-module-qtquick-particles2,
 qml-module-qtquick-privatewidgets,
 qml-module-qtquick-shapes,
 qml-module-qtquick-templates2,
 qml-module-qtquick-window2,
 qml-module-qtquick-xmllistmodel,
 qml-module-qtquick2,
 qml-module-qtsensors,
 qml-module-qtsysteminfo,
 qml-module-qtwebchannel,
 qml-module-qtwebengine,
 qml-module-qtwebsockets,
 qml-module-sso-onlineaccounts,
 qml-module-u1db,
 qmlscene,
 qt5-image-formats-plugins,
 qml-module-usermetrics,
 libqzxing3,
 libmediainfo0v5,
 fonts-ubuntu,
Description: Lomiri app (Open Store) support package
 This package provides runtime QML modules required by most Lomiri apps distributed via the Open Store.
