#!/usr/bin/make -f

export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
ARCH := $(shell dpkg --print-architecture)

%:
	dh $@

override_dh_install:
	./compat/extract-libs.sh $(ARCH)
	install -d debian/furios-lomiri-app-support/usr/lib/$(DEB_HOST_MULTIARCH)/furios-lomiri-app-support/lib/
	cp -a compat/lib/. debian/furios-lomiri-app-support/usr/lib/$(DEB_HOST_MULTIARCH)/furios-lomiri-app-support/lib/

	install -d debian/furios-lomiri-app-support/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/qml/
	cp -a Ubuntu debian/furios-lomiri-app-support/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/qml/

override_dh_dwz:
override_dh_strip:
override_dh_makeshlibs:
override_dh_shlibdeps:
